{% extends 'shop/base.html' %}

{% block content %}
    <div class="row" ng-controller="categoryCtrl" ng-init="init()">


        <form role="form" class="category_form col-lg-12" ng-submit="CategoryForm()">
            {% csrf_token %}
            <div class="form-group">

                <input type="hidden" ng-model="category_id" name="category_id">

                <label>Name </label>
                <input ng-model="name" name="name" class="form-control">
                <p class="help-block">Insert the new category name.</p>

                <button type="submit" class="btn btn-default">Submit</button>
                <button class="btn btn-info" ng-click="resetForm()">Reset</button>
                <div style="clear: both;height: 20px;"></div>
                <div class="alert alert-success" ng-show="success == true">
                    <strong>Success!</strong> Indicates a successful or positive action.
                </div>

            </div>

        </form>
        <div class="col-lg-12">
            <h2>Bordered Table</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in list">
                            <td>{[{ value.name }]}</td>
                            <td>
                                <a href="" ng-click="deleteCategory(value.key)" class="btn btn-danger">Delete</a>
                                <a href="" ng-click="editCategory(value.key)" class="btn btn-info">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}